# ignore any log files
*.log
/log/*
/tmp/*

# ignore any "old" directories
*/old/
/old/*
old
old_*

# ignore qsub files for batch jobs
q_*
qsub*

# ignore development scripts
development/*
/development/
development

# ignore raw data
data/clean/*
data/clean
data/*

# ignore figures
figures/*

# ignore functions because they should be in R package
functions/*